<div>
  <div>
    <div>
      <h3>Total Cases</h3>
      <h3>{{covidData.summary.total_obs}}</h3>
    </div>
  </div>
  <div>
    <div>
      <h3>
        Total Recovered
      </h3>
      <h3>{{covidData.summary.recovered}}</h3>
    </div>
  </div>
  <div>
    <div>
      <h3>
        Total Active cases
      </h3>
      <h3>{{covidData.summary.active}}</h3>
    </div>
  </div>
  <div>
    <div>
      <h3>
        Total Deaths
      </h3>
      <h3>{{covidData.summary.deceased}}</h3>
    </div>
  </div>
</div>
